 body{
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-light {
    background-color: #9bc5c3;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

#logo{
    font-size: 14px;
    font-family: 'Rajdhani', sans-serif;
    color: #e3dff0;
    text-shadow: 2px 2px 6px rgba(15, 241, 241, 0.883);
}



