body{
    font-family: 'Lora', serif;
    margin: 0;
}
#videoBG{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
}
#header{
    height: auto;
    overflow:hidden;
}

#conteudo{
    position: absolute;
    top:25%;  
}
#div-logo{
    text-align: center;
    margin-left: 10%;
}
#logo{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}

#logo{background-image: linear-gradient( to right,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );}

#logo{
    color: #e3dff0;
    padding: 15px;
    border-radius: 30px;
    text-shadow: 2px 2px 6px rgba(15, 241, 241, 0.883);
    box-shadow:  2px 2px 3px rgb(92, 107, 107);  
    transition: 0.3s;
    background-size: 200% auto;
}

#logo:hover{
    background-position:right; /* change the direction of the change here */
    color: rgb(241, 232, 232);
}

#title{
    font-size: 28px;
    text-align: center;
    margin-top: 4%;
    margin-left: 10%;
    color: rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
    text-shadow: 2px 2px 3px rgba(36, 37, 37, 0.883);
}

  
#menu{
    text-align: center;  
    margin-left: 10%;
    margin-top: 5%;
}


a{
    text-decoration: none;
}

.btn-grad {background-image: linear-gradient(to right, rgba(44,62,78,1) 0%, #49a09d  51%, #29252c  100%)}
.btn-grad {
   
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(255, 236, 236);            
   box-shadow: 0 0 5px rgb(61, 58, 58);
   border-top-left-radius: 20px; 
   
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }




